In [1]:
#Import all the required libarary
import pandas as pd
import csv
import pymysql
from sqlalchemy import create_engine, types
import pyodbc 
import mysql.connector as msql
from mysql.connector import Error
from textblob import TextBlob

In [6]:
#Reading the data file
data = pd.read_csv("BarackObama.csv")
data.head()

,date,tweet
0,2021-05-30 23:54:18+00:00,"Government of the lawyers, by the lawyers, and..."
1,2021-05-30 23:42:07+00:00,ISIS CREATOR BARACK #OBAMA IN HEADLINE NEWS......
2,2021-05-30 23:38:29+00:00,Joe Biden in 2007 saying that voting machines ...
3,2021-05-30 23:34:40+00:00,It’s humanly impossible to help white supremac...
4,2021-05-30 23:23:37+00:00,Barack Obama should just stfu... \n\nTake his ...

In [10]:
#Create two columns for Source and Name
data['data_source'] = "Twitter"
data['name'] = "Barack Obama"
data.head()

,date,tweet,subjectivity,polarity,data_source,name
0,2021-05-30 23:54:18+00:00,"Government of the lawyers, by the lawyers, and...",0.412500,0.100000,Twitter,Barack Obama
1,2021-05-30 23:42:07+00:00,ISIS CREATOR BARACK #OBAMA IN HEADLINE NEWS......,0.000000,0.000000,Twitter,Barack Obama
2,2021-05-30 23:38:29+00:00,Joe Biden in 2007 saying that voting machines ...,0.479167,0.216667,Twitter,Barack Obama
3,2021-05-30 23:34:40+00:00,It’s humanly impossible to help white supremac...,0.608333,-0.375000,Twitter,Barack Obama
4,2021-05-30 23:23:37+00:00,Barack Obama should just stfu... \n\nTake his ...,0.000000,0.000000,Twitter,Barack Obama

In [152]:
#Create connection between Python and MySQL
engine = create_engine('mysql://root:<password>@localhost/<database_name>')

In [9]:
#Pusing the data into MySQL
for i in range(0,len(data)):
    df_new = data[i:i+1]
    df_new.to_sql("<table_name>", con=engine,index=False,if_exists='append')